
.Index{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 8em;
    background-color: #150050;
}

.Index a{
    text-decoration: none;
    color: blueviolet;
    text-shadow: 1px 0px 20px #9417c3;
    font-weight: bold;
    font-size: xx-large;
}

.Index a:hover{
    color: rgb(226, 197, 233);
    text-shadow: 1px 0px 20px #9417c3;
}

.IndexLeft{
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

.IndexRight{
    display: flex;
    justify-content: space-evenly;
    width: 33%;
}
