@font-face {
    font-family: 'Beaufort';
    src: url('./Components/Fonts/BeaufortforLOL-Regular.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Bold.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Heavy.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Medium.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Light.ttf') format('truetype');
}

body {
    font-family: 'Beaufort';    /* background-color: #0b002a; */
    background: repeating-radial-gradient(circle,#150050, transparent 20%);
    background-size: 1em 1em;
    background-color: #000000;
    opacity: 1;
    width: fit-content;
}

a{
    text-decoration: none;
    text-decoration-color: blueviolet;
}