@font-face {
    font-family: 'Beaufort';
    src: url('./Components/Fonts/BeaufortforLOL-Regular.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Bold.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Heavy.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Medium.ttf') format('truetype'),
        url('./Components/Fonts/BeaufortforLOL-Light.ttf') format('truetype');
}

body {
    background-color: #0b002a;
    font-family: 'Beaufort';
}
