.detail{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.detail h1{
    color: blueviolet;
    text-shadow: 1px 0px 20px #9417c3;
    width: 125%;
    margin-left: -1em;
}

.detail h1:hover {
    color: rgb(226, 197, 233);
    text-shadow: 1px 0px 20px #9417c3;
}

.Col1{
    width: 20%;
    background-color: rgba(0, 0, 0, 0.661);
    border-radius: 0 50px 0 50px;
    box-shadow: 0 0 10px 3px rgb(17 16 18);
}

.Col1 img{
    width: 60%;
    border-radius: 0 50px 0 50px;
    box-shadow: 0 0 10px 3px rgb(17 16 18);
}

.Col1 p {
    text-align: justify;
    margin: 0 7% 2%;
    color: #b5b5b5;
}

.Col1 h2{
    font-style: italic;
}


.Col2{
    width: 60%;
    background-color: rgba(0, 0, 0, 0.661);
    border-radius: 30px;
    box-shadow: 0 0 10px 3px rgb(17 16 18);
}
.Col2 img{
padding-bottom: 1em;
}
.Skins{
    width: 61em;
    margin: auto;
}
.Col3{
    width: 20%;
    background-color: rgba(0, 0, 0, 0.661);
    border-radius:  50px 0 50px 0;
    box-shadow: 0 0 10px 3px rgb(17 16 18);
}

.Stats{
    width: 70%;
    font-size: 1rem;
    margin: auto;
}

.Stats h3{
    margin: auto;
}

.Attacks img{
    height: 43px;
    vertical-align: text-top;
    margin-left: 2%;
}
.Attacks h4{
    display: inline-block;
    width: 22%;
}

.Attacks hr{
    color: grey;
    box-shadow: 1px -4px 20px 3px black;
    border: 2px solid #383838;
}

.Attacks h1{
    margin: auto;
}


.FavsOff{
    width: 20px;
    float: right;
    padding: 1px;
    color: white;
    background: none;
    border: none;
    font-size: unset;
    margin-right: 22%;
    margin-left: -15%;
}


.FavsOff:active{
    color: #e73636;
    text-shadow: 0 0 1px 2px #e78d8d;
    width: 21px;
}

.FavsOn{
    width: 20px;
    float: right;
    background: none;
    border:none;
    padding: 1px;
    font-size: x-large;
    margin-right: 22%;
    margin-left: -21%;
}