
.HowPlay{
    margin: 3% auto;
    color: white;
    display: flex;
    height: 8em;
}

.HowPlay p{
width: 70%;
margin:auto;
}

.ImgHome{
    width: 91%;
    height: 10em;
    opacity: 43%;
    box-shadow: 0 0 10px 3px rgb(17 16 18);
    border-radius: 4em;
    position: absolute;
    left: 5em;
    top: 10em;
}

.Carousel2{
    width: 48.4%;
    /* margin: auto; */
    font-size: larger;
    font-weight: bold;
}

.Carousel2 img{
    
        width: 69%;
        border-radius: 0 50px 0 50px;
        margin:auto;
        box-shadow:0 0 10px 3px rgb(17, 16, 18)
    
}

.Order{
    display: flex;
    flex-direction: row;
    margin: 1em 2em;
    justify-content: space-around;
}

.Columna1{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    gap: 5em;
    margin: 3em 0 0 0;

}

.Columna3{
    display: flex;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
    gap: 5em;
    margin: 3em 0 0 0;
}

.botombutons{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
}

.Order h2{
    font-size: x-large;
    padding: 1%;
    color: blueviolet;
    text-shadow: 1px 0px 20px #9417c3;
}

.Order h2:hover{
    font-size: x-large;
    padding: 1%;
    color: rgb(226, 197, 233);
    text-shadow: 1px 0px 20px #9417c3;
}

.HwP{
    background: #0606068f;
    width: 21em;
    margin:  1em auto;
    border-radius: 0 20px;
    box-shadow: 0 0 10px 3px rgb(17, 16, 18);
    border: 1px solid black;
}

.HwP h1{
    font-size: xx-large;
    margin: 0;
    color: white;
}

.HwP p{
    font-size: smaller;
    font-style: italic;
    color: grey;
}

.back{
    background: #060606bd;
    border-radius: 0 20px;
    box-shadow: 0 0 10px 3px rgb(0 0 0);
    border: 1px solid black;
    padding: 0.5em;
}

.back:hover{
    box-shadow: 0 0 15px 2px blueviolet;
}

.load img{
        width: 88em;
        height: 37em;
        position: absolute;
        left: 6em;
        top: 10em;
}

@media only screen and (max-width: 767px){
    .Order{
    display: flex;
    flex-direction: column;
    margin: auto;
    }
    .Columna1{
        gap: 1em;
        margin: 1em 1em 0;
    }
    .back{
        width: fit-content;
        margin: 0em 1em;    
    }
    .back h2{
        margin: 0;
    }
    .HwP{
        margin: 1em auto;
    }
    .Resp{
        display: none;
    }
    .botombutons{
        flex-direction: column;
        margin: 0.3em 1em;
    }
    .Columna3{
    gap: 1em;
    margin: 1em;
    }
    .load img{
        width: 90%;
        height: 26em;
        margin: 0em;
        position: relative;
        left: 0em;
        top: 5em;
    }

}