
.HowToPlay{
    width: 83%;
    margin: auto;
    padding: 1%;
}

.HowToPlay h1{
 font-style: italic;
 color: rgb(97, 0, 148);
 text-shadow: 2px -2px 20px #8c35ff;
}

.HowToPlay h2{
    font-size: xx-large;
    font-weight: bold;
    color: rgb(97, 0, 148);
    text-shadow: 2px -2px 20px #8c35ff;
}

.HowToPlay h3{
    text-align: justify;
    margin-left: 5%;
    color: rgb(63, 0, 113);
    font-size: x-large;
    text-shadow: 1px -2px 20px #843be5b3;
}

.HowToPlay li{
    text-align: justify;
    margin-left: 1%;
    color: #c2c5db;
    list-style-position: inside;
    list-style-type: disclosure-closed;
    margin-right: 2%;
}

.HowToPlay p{
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;

}


.HowToPlay img{
    float:right;
    margin: 0.5%;
    border: solid black;
    border-radius: 1em;
    box-shadow:0 0 10px 3px rgb(17, 16, 18);
    width: 15%;
}

.Init{
    background-image: url("../lol/Banner3.png");
    height: 10em;
    width: 97%;
    margin: auto;
    border-radius: 1em;
    border: solid black;
    box-shadow:0 0 10px 3px rgb(17, 16, 18);
}

.gifi{
    width: 19%;
    margin-right: 2%;
}

.Game{
    display: flex;
    float: none;
    margin: auto;
    flex-direction: row;
    justify-content: center;
}

.Game img{
    width: 30%;
}

.content{
    width: 61em;
    margin: auto;
}

.content h2{
    font-size: x-large;
    text-align-last: left;
    
}
.Maps{
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
}

.Maps ul{
    width: 13em;
    margin: auto;
}
.Maps img{
    width: 32%;
    float: none;
}

.Maps ul li{
    list-style-type: disc;
    margin-bottom: 1em;
}
.Clases img{
    width: 40%;
    float: left;
}

.Clases{
    display: flex;
    margin: auto;
    justify-content: space-around;
}


.data{
    background-color: #00000087;
    border: solid black;
    margin: 1%;
    border-radius: 1em;
    box-shadow: 0 0 20px 12px rgb(0 0 0);
}

hr{
    color: black;
    border: solid black;
    box-shadow: 1px -4px 20px 3px black;
    width: 89%;
}

.BackHome{
    position: fixed;
    left: 2em;
    top: 17em;
    background: rgb(70 2 106);
    width: 4%;
    border-radius: 2em;
    font-weight: bolder;
    box-shadow: 3px -1px 11px 8px rgb(59 1 90);
    color: #d1cbd7;
    padding: 0.2%;
}

.carouselMaps{
        width: 41em;
        float: right;
        /* height: 0em; */
        margin-right: -13em;
    
}

.content h3 li a {
    color:rgb(85, 26, 139)
}

.content h3 li{
color:rgb(59 1 90);
}