
.Maps{
    background-image: url("../lol/Maps/1.png");
    height: 97%;
    width: 99%;
    margin: 1% auto;
    box-shadow: 0 0 20px 4px black;
    border-radius: 0 20px 0 20px;
}

.Freljord{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 27.7em;
    top: 20em;
}

.Freljord img{
    width: 40%;
}

.Freljord img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 56em;
    background-color: #150050b3;
}

.Demacia{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 23.9em;
    top: 32em;
}

.Demacia img{
    width: 40%;
}

.Demacia img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 56em;
    background-color: #150050b3;
}

.Targon{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 33.2em;
    bottom: -0.5em;
}

.Targon img{
    width: 32%;
}

.Targon img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
    padding-top:5%;
    padding-right:3%;
}

.Noxus{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 45em;
    top: 26.5em;
}
.Noxus img{
    width: 30%;
}

.Noxus img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
}

.Shurima{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 48.8em;
    bottom: 0.7em;
}
.Shurima img{
    width: 30%;
}
.Shurima img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
    padding-top: 4%;
}

.Shadow{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 25.2em;
    bottom: -1em;
}

.Shadow img{
    width: 38%;
}
.Shadow img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
    margin-top: 6%;
}

.Ionia{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 34em;
    bottom: 32.7em;
}
.Ionia img{
width: 31%;
}
.Ionia img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
}

.Piltover{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 51.9em;
    bottom: 16.6em;
}
.Piltover img{
    width: 29%;
}
.Piltover img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
    margin: 1%;
}

.Zaun{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 52.92em;
    bottom: 11.9em;
}
.Zaun img{
    width: 31%;
}
.Zaun img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
}

.Bilgewater{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 33em;
    bottom: 9.9em;
}

.Bilgewater img{
    width: 41%;
}

.Bilgewater img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
}

.Ixtal{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 47.7em;
    bottom: 1.9em;
}

.Ixtal img{
    width: 35%;
}

.Ixtal img:hover{
    box-shadow: 0 0 12px #3f0071;
    border-radius: 54em;
    background-color: #150050b3;
}

.info{
    background-color: rgba(0, 0, 0, 0.81);
    width: 82%;
    margin: auto;
    box-shadow: 0 0 18px #5c450d;
    border: solid #745729;
    border-radius: 0 20px 0 20px;
}

.info p{
    margin: auto 2%;
    background-color: #00000059;
    border-radius: 11%;
    color: #b1b2b3;

}

.info h1{
    color: #745729;
    text-shadow: 0 0 20px #c9973d;
    font-weight: bold;
    margin-left: 6%;
}

.info button{
    background-color: #150050;
    color: white;
    box-shadow: 0 0 12px #3f0071;
    border: solid #150050;
    border-radius: 33%;
    font-size: medium;
    margin-top: 1%;
    font-family: 'Beaufort';
    float: right;
    margin-right: 1%;
}
.info button:hover{
    box-shadow: 0 0 14px #c9973d;
}

.info img{
    width: 20em;
    height: 13em;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 0 20px black;
    margin: auto 1% 1%;
}

.info img:hover{
    width: 21em;
    height: 14em;
    box-shadow: 0 0 20px #c9973d; 
}